html {
  font-family: "Baloo Paaji 2", cursive;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.container {
  position: relative;
  height: 100vh;
}
h1 {
  margin: 3rem auto 0;
  text-align: center;
}

form {
  text-align: center;
  display: block;
  margin-top: 1.4rem;
}
ul li {
  text-align: center;
  list-style-type: none;
}

button {
  background-color: rgb(137, 226, 102);
  color: white;
  border: 1px solid cadetblue;
}
.clear {
  margin-left: 1rem;
}
